body{
  font-family: Arial, sans-serif;
  background:#f5e6c8;
  padding:20px;
}

.login-box, #app{
  background:white;
  padding:20px;
  border-radius:12px;
}

input,button{
  width:100%;
  padding:12px;
  margin-top:10px;
}

button{
  background:#7b4b2a;
  color:white;
  border:none;
}

.task{
  background:#fff3dd;
  margin-top:10px;
  padding:10px;
  border-radius:8px;
}
